/*Login And Registration */   
                          
.hero2{
  height: 115%;
  width: 100%;
  background-color:rgba(0,0,0,0.6);
  position:absolute;
  top: -10px;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: none;
  color:white;  
  z-index:2; 
}
.close2{
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}
.from-box2{
  width:380px;
  height: 541px;
  position: relative;
  border-radius: 4px;
  margin: 6% auto;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  
}
.button-box2{
width: 220px;
margin: 35px auto;
position: relative;
box-shadow: 0 0 20px 9px #ff61241f;
border-radius: 30px;
}
.toggle-btn2{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline:none;
  position: relative;
  color:white;font-size: 16px;
}
#btn2{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, tomato, #ff0800);
  border-radius: 30px;
  transition: .5s;
}



.aps-im img{

text-align: center;
height: 255px;
width:100%;
box-shadow: 0 0 20px 0 #7f7f7f3d;

}

.input-group2{
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
  color:white;
}
.input-field2{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-top:0 ;
  border-left:0;
  border-right:0 ;
  border-bottom: 1px solid #999 ;
  outline: none;  
  background: transparent;
  color:white;
}
.submit-btn2{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, tomato, #ff0800);
  border: 0;
  outline:none;
  border-radius: 30px ;
  margin-top: 6px;
}
.check-box2{
  margin: 30px 10px 30px 0;
}

.check-box2 span{
  color: rgb(165, 165, 165);
  font-size: 12px;
  bottom: 42px;
  position: absolute;
  margin-top: 16px;
}

#login2{
  left: 50px;
}
#Signin2{
  left: 450px;
}                         
/*end Login And Registration */





.loginbox{
  width: 320px;
  height: 570px;
  background: #000;
  color: #fff;
  top: 61%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
  display: none;


}
.close3{
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}



.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  padding: 0 9px;
}
.loginbox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
  cursor: pointer;
  background: orange;
  color: #000;
}
.loginbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover
{
  color: orange;
}


                       

